<!DOCTYPE html>
<html lang="en">
    <head>
        <meta CHARSET="utf-8">
        <title>PAGE TITLE</title>
        <link rel="stylesheet" href="{{ .superStyle }}">
        <link rel="stylesheet" href="{{ .thisStyle }}">
        <link rel="shortcut icon" href="{{ .faviconURL }}" type="image/png">
    </head>
    <body class="light">
        <input type="hidden" id="chessPiecesJSON" value="{{ .chessPiecesJSON }}">
        <div class="nav-bar">
            <form action="/homepage" method="GET">
                <input type="submit" value="Home">
            </form>
            <div class="nav-dropdown">
                <button class="nav-dropbtn">Projects</button>
                <div class="nav-dropcontent">
                    {{range .projects}}
                    <form action="/{{.}}" method="GET">
                        <input type="submit" value="{{.}}">
                    </form>
                    {{end}}
                </div>
            </div>
            <div class="nav-dropdown">
                <button class="nav-dropbtn">Hobbies</button>
                <div class="nav-dropcontent">
                    {{range .hobbies}}
                    <form action="/{{.}}" method="GET">
                        <input type="submit" value="{{.}}">
                    </form>
                    {{end}}
                </div>
            </div>
            <a class="social" href="https://github.com/rog1gor/">
            <img src="{{.githubURL}}" alt="GitHubIcon">
            </a>
            <a class="social" href="https://www.linkedin.com/in/igorkaminski/">
            <img src="{{.linkeinURL}}" alt="LinkedInIcon">
            </a>
        </div>
        <div class="page-contents">
            <div class="notepad-panel">
                <h1 class="notepad-title">Notes</h1>
                <textarea class="notepad" name="notes" id="notes-textarea" spellcheck="false"></textarea>
            </div>
            <div class="chess-board" id="chess-board"><div class="tile"></div></div>
            <div class="moves-panel">
                <div class="moves"></div>
            </div>
            <div class="buttons-panel">
                <div class="switch-buttons">
                    <label class="switch color-switch">
                        <input type="checkbox" id="do-play-as-black">
                        <span class="slider round"></span>
                    </label>
                    <h2 class="color-description">Play as black</h2>
                    <label class="switch highlight-switch">
                        <input type="checkbox" id="do-highlight" checked>
                        <span class="slider round"></span>
                    </label>
                    <h2 class="highlight-description">Highlight moves</h2>
                </div>
                <div class="click-buttons">
                    <div class="rotation" id="rotation">
                        <h2>Rotate board</h2>
                    </div>
                    <div class="new-game" id="new-game">
                        <h2>New Game</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkmate-screen" id="checkmate-screen">
            <div class="checkmate-message-window" id="checkmate-message-window">
                <h1 id="checkmate-message"></h1>
            </div>
        </div>
        <div class="promotion-screen" id="black-promotion-screen">
            <div class="promotions" id="black-promotions">
                <div class="knight-promotion" id="black-knight-promotion">
                    <img src="" alt="BlackKnightPromotion" id="black-knight-promotion-img">
                </div>
                <div class="bishop-promotion" id="bishop-promotion">
                    <img src="" alt="BlackBishopPromotion" id="black-bishop-promotion-img">
                </div>
                <div class="rook-promotion" id="rook-promotion">
                    <img src="" alt="BlackRookPromotion" id="black-rook-promotion-img">
                </div>
                <div class="queen-promotion" id="queen-promotion">
                    <img src="" alt="BlackQueenPromotion" id="black-queen-promotion-img">
                </div>
            </div>
        </div>
        <div class="promotion-screen" id="white-promotion-screen">
            <div class="promotions" id="promotions">
                <div class="knight-promotion" id="white-knight-promotion">
                    <img src="" alt="WhiteKnightPromotion" id="white-knight-promotion-img">
                </div>
                <div class="bishop-promotion" id="white-bishop-promotion">
                    <img src="" alt="WhiteBishopPromotion" id="white-bishop-promotion-img">
                </div>
                <div class="rook-promotion" id="white-rook-promotion">
                    <img src="" alt="WhiteRookPromotion" id="white-rook-promotion-img">
                </div>
                <div class="queen-promotion" id="white-queen-promotion">
                    <img src="" alt="WhiteQueenPromotion" id="white-queen-promotion-img">
                </div>
            </div>
        </div>
    </body>
    <script src="{{.thisScript}}"></script>
</html>