.chess_board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 70vh;
    width: 70vh;
    margin: 10vh auto;
}

.tile {
    position: relative;
    height: calc(70vh / 8);
    z-index: 1;
}

.black {
    background-color: burlywood;
}

.white {
    background-color: lightgoldenrodyellow;
}

.piece {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 80%;
    height: 80%;
    margin: 10%;
}

.dot {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    height: 40%;
    width: 40%;
    margin: 30%;
}