<!DOCTYPE html>
<html lang="en">
    <head>
        <meta CHARSET="utf-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="{{ .superStyle }}">
        <link rel="stylesheet" href="{{ .thisStyle }}">
        <link rel="shortcut icon" href="{{ .faviconURL }}" type="image/png">
    </head>
    <body class="light">
        <div class="nav-bar">
            <a href="#home">Home</a>
            <div class="nav-dropdown">
                <button class="nav-dropbtn">Projects</button>
                <div class="nav-dropcontent">
                    {{range .projects}}
                    <a href="#">{{.}}</a>
                    {{end}}
                </div>
            </div>
            <div class="nav-dropdown">
                <button class="nav-dropbtn">Hobbies</button>
                <div class="nav-dropcontent">
                    {{range .hobbies}}
                    <a href="#">{{.}}</a>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="page-contents">
            <div class="timeline">
                <div class="container left">
                  <div class="event">
                    <h2>2017</h2>
                    <p>Lorem ipsum..</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="event">
                    <h2>2016</h2>
                    <p>Lorem ipsum..</p>
                  </div>
                </div>
                <div class="container right">
                    <div class="event">
                      <h2>2016</h2>
                      <p>Lorem ipsum..</p>
                    </div>
                </div>
                <div class="container right">
                    <div class="event">
                      <h2>2016</h2>
                      <p>Lorem ipsum..</p>
                    </div>
                </div>
                <div class="container right">
                    <div class="event">
                      <h2>2016</h2>
                      <p>Lorem ipsum..</p>
                    </div>
                </div>
                <div class="container right">
                    <div class="event">
                      <h2>2016</h2>
                      <p>Lorem ipsum..</p>
                    </div>
                </div>
                <div class="container right">
                    <div class="event">
                      <h2>2016</h2>
                      <p>Lorem ipsum..</p>
                    </div>
                </div>
                <div class="container right">
                    <div class="event">
                      <h2>2016</h2>
                      <p>Lorem ipsum..</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>