<!DOCTYPE html>
<html lang="en">
    <head>
        <meta CHARSET="utf-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="{{ .superStyle }}">
        <link rel="stylesheet" href="{{ .thisStyle }}">
        <link rel="shortcut icon" href="{{ .faviconURL }}" type="image/png">
    </head>
    <body class="light">
        <div class="nav-bar">
            <a href="#home">Home</a>
            <div class="nav-dropdown">
                <button class="nav-dropbtn">Projects</button>
                <div class="nav-dropcontent">
                    {{range .projects}}
                    <a href="#">{{.}}</a>
                    {{end}}
                </div>
            </div>
            <div class="nav-dropdown">
                <button class="nav-dropbtn">Hobbies</button>
                <div class="nav-dropcontent">
                    {{range .hobbies}}
                    <a href="#">{{.}}</a>
                    {{end}}
                </div>
            </div>
            <a class="social" href="https://github.com/rog1gor/">
              <img src="{{.githubURL}}" alt="GitHubIcon">
            </a>
            <a class="social" href="https://www.linkedin.com/in/igorkaminski/">
              <img src="{{.linkeinURL}}" alt="LinkedInIcon">
            </a>
        </div>
        <div class="page-contents">
            <div class="timeline">
                <div class="container left">
                  <div class="event">
                    <h2>2024</h2>
                    <h4>February</h4>
                    <p>Just finished all my subjects at the University and looking for some part-time sofware engineer job in Wroclaw :]</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="event">
                    <h2>2023</h2>
                    <h4>June</h4>
                    <p>
                      Me and my team just finished our Bachelor's Project
                      Thanks to scholarship from our University,
                      we were able to present the project during the 9th IASC Conference on the Commons,
                      that took place in Nairobi, Kenya.
                    </p>
                    <h4>April</h4>
                    <p>
                      I got a return offer from Google for an internship.
                      Unfortunately, due to mass layoffs I couldn't find any team, that I could return to,
                      before the recrutiment process was over :[ 
                    </p>
                  </div>
                </div>
                <div class="container right">
                  <div class="event">
                    <h2>2022</h2>
                    <h4>October</h4>
                    <p>I started to teach algorithmics in Stanislaw Staszic High School.</p>
                    <h4>October</h4>
                    <p>
                      Teamed with my close friends, we started progressing with our Bachelor's Project.</p>
                    <h4>July-October</h4>
                    <p>I got an internship in Google.</p>
                    <p>It was a fantastic experience - it ensured me that I the path I chose was correct :]</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="event">
                    <h2>2021</h2>
                    <h4>July - September</h4>
                    <p>I got an internship in Intel.</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="event">
                    <h2>2020</h2>
                    <h4>October</h4>
                    <p>I started to study Computer Science at University of Warsaw.</p>
                  </div>
                </div>
                <div class="container left">
                  <div class="event">
                    <h2>2020</h2>
                    <h4>March</h4>
                    <p>Unfortunately I didn't reach the finals due, since the Olympiad is highly competetive, but I didn't give up on informatics :]</p>
                    <h4>February</h4>
                    <p>I reached second stage of the Polish Olympiad in Informatics.</p>
                  </div>
                </div>
                <div class="container left">
                  <div class="event">
                    <h2>2019</h2>
                    <h4>July - August</h4>
                    <p>I got my first internship with WLOG Solutions.</p>
                    <h4>June</h4>
                    <p>
                      With the influence of my friends and my teacher I began to learn algorithmics.
                      I started to prepare for Polish Olympiad in Informatics.
                    </p>
                    <h4>April</h4>
                    <p>I reached Polish Mathematical Olympiad finals for the second time.</p>
                  </div>
                </div>
                <div class="container left">
                  <div class="event">
                    <h2>2018</h2>
                    <h4>April</h4>
                    <p>During my first grade I reached Polish Mathematical Olympiad finals.</p>
                  </div>
                </div>
                <div class="container left">
                  <div class="event">
                    <h2>2017</h2>
                    <h4>September</h4>
                    <p>I got accepted to Stanislaw Staszic High School, which is considered for being the best High School in Poland.</p>
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>