/*& ------------------------------ */
/*& -------- COLOR MODES --------- */
/*& ------------------------------ */

.light {
    --main-bg-color: rgb(250, 250, 255);
    --main-text-color: rgb(75, 75, 150);

    --menu-bar-color: rgb(200, 220, 255);
    --menu-font-color: rgb(50, 50, 150);
    --menu-hover-color: rgb(50, 100, 200);
    --menu-hover-font-color: rgb(200, 220, 255);

    --shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

/*& ------------------------------ */
/*& ------ CLASS PROPERTIES ------ */
/*& ------------------------------ */

HTML {
    height: 100%;

    margin:0;
    padding:0;

    --menu-padding: 14px 16px;
}

BODY {
    position: relative;
    width: 100%;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 5px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--main-bg-color);

    color: var(--main-text-color);
}

/*? REMOVE STYLE FROM HTTP REQUESTS  */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*? NAVIGATION BAR */

.nav-bar {
    overflow: hidden;
    padding: 0 5%;

    background-color: var(--menu-bar-color);
    box-shadow: var(--shadow);
}

.nav-bar a, .nav-bar form {
    float: left;

    color: var(--menu-font-color);
    text-align: center;
    text-decoration: none;

    padding: var(--menu-padding);
}

.nav-bar .social {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social img {
    height: 34px;
    width: 34px;
}

.nav-dropdown {
    float: left;
    overflow: hidden;
}

.nav-dropdown .nav-dropbtn {
    border: none;
    outline: none;

    color: var(--menu-font-color);
    font: inherit;

    padding: var(--menu-padding);
    margin: 0;

    background-color: inherit;
}

.nav-bar a:hover, .nav-dropdown:hover .nav-dropbtn, .nav-bar form:hover {
    background-color: var(--menu-hover-color);
    color: var(--menu-hover-font-color);
}

.nav-dropcontent {
    display: none;
    position: absolute;

    background-color: var(--menu-bar-color);
    box-shadow: var(--shadow);
    z-index: 10;
}

.nav-dropcontent a, .nav-dropcontent form {
    float: none;
    color: var(--menu-font-color);
    padding: var(--menu-padding);
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-dropcontent a:hover, .nav-dropcontent form:hover {
    background-color: var(--menu-hover-color);
}

.nav-dropdown:hover .nav-dropcontent {
    display: block;
}

/*? CONTENTS */

.page-contents {
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}